# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Ignore dataset
data/

# Ignore model checkpoints
*.pth
outputs/checkpoints/

# Optional: ignore temp logs if needed
# outputs/logs/*.tmp

# Keep experiment summaries and logs
!outputs/
!outputs/experiment_results.csv
!outputs/logs/
!outputs/logs/**

# Ignore large model weight files
*.pt
*.pth
